/*.image-card {
  height: 200px;
  width: 298px;
  background-size: cover;
  background-position: center center;
}*/

.card {
  margin-bottom: 30px;
}

.card-footer {
  padding: 0;
}

.card-footer button {
  cursor: pointer;
}


